{% extends 'blog/base.html' %}

{% block title %}Log In - Django Blog{% endblock %}

{% block content %}
<div class="auth-card">
    <h2>Log In</h2>
    {% if form.errors %}
        <div class="form-errors">
            <p>Please correct the error(s) below.</p>
        </div>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Log In</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
</div>
{% endblock %}
